body {
  max-width: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

h2 {
  text-align: center;
}

h3 {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}